* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(farthest-corner at 40px 40px, rgb(195, 115, 207), rgb(125, 7, 110));
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 340px;
    height: 500px;
    background: rgb(213, 208, 247);
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background: #fff;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3), inset -2px -2px 2px rgba(0, 0, 0, 0.3);
}

.keyboard {
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 1.3em;
}

button {
    margin: 0.5em 1em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
